[defaults]
forks = 3
local_tmp = /tmp/ansible-local
remote_tmp = /tmp/ansible-remote
inventory = inventory/hosts.ini
host_key_checking = False
stdout_callback = default
result_format = yaml
interpreter_python = auto_silent
private_key_file = ~/.ssh/ansible_ed25519
timeout = 30
vault_password_file = ~/.ansible/vault_pass.txt
retry_files_enabled = False

[privilege_escalation]
become = False
become_method = sudo

[ssh_connection]
control_path_dir = /tmp/ansible-cp
ssh_args = -F /dev/null -o ControlMaster=no -o ControlPersist=no -o ServerAliveInterval=15 -o ServerAliveCountMax=2
pipelining = True
retries = 3
