/var/log/asterisk/queue_log {
	daily
	maxsize {{ freepbx_asterisk_logrotate_maxsize | default('100M') }}
	missingok
	rotate {{ freepbx_asterisk_logrotate_queue_rotate | default(30) }}
	compress
	delaycompress
	notifempty
	sharedscripts
	create 0640 asterisk asterisk
	su asterisk asterisk
	postrotate
		/usr/sbin/asterisk -rx 'logger reload' > /dev/null 2> /dev/null
	endscript
}

/var/spool/mail/asterisk {
	daily
	missingok
	rotate {{ freepbx_asterisk_logrotate_mail_rotate | default(7) }}
	compress
	delaycompress
	notifempty
	sharedscripts
	create 0660 asterisk mail
	su asterisk mail
}

/var/log/asterisk/messages
/var/log/asterisk/event_log
/var/log/asterisk/full
/var/log/asterisk/dtmf
/var/log/asterisk/fail2ban {
	daily
	maxsize {{ freepbx_asterisk_logrotate_maxsize | default('100M') }}
	missingok
	rotate {{ freepbx_asterisk_logrotate_rotate | default(7) }}
	compress
	delaycompress
	notifempty
	sharedscripts
	create 0640 asterisk asterisk
	su asterisk asterisk
	postrotate
		/usr/sbin/asterisk -rx 'logger reload' > /dev/null 2> /dev/null
	endscript
}
