PLEX_APPLIANCE_SERVER_URL={{ plex_appliance_server_url | to_json }}
PLEX_APPLIANCE_TOKEN={{ plex_appliance_token | to_json }}
PLEX_APPLIANCE_LIBRARY={{ plex_appliance_library | to_json }}
PLEX_APPLIANCE_COLLECTION={{ plex_appliance_collection | to_json }}
PLEX_APPLIANCE_AUDIO_LANGUAGES={{ plex_appliance_audio_languages | default([]) | join(',') | to_json }}
PLEX_APPLIANCE_SUBTITLE_LANGUAGES={{ plex_appliance_subtitle_languages | default([]) | join(',') | to_json }}
PLEX_APPLIANCE_SUBTITLES={{ plex_appliance_subtitles | default('auto') | to_json }}
PLEX_APPLIANCE_PAGE_SIZE={{ plex_appliance_page_size | default(100) | int }}
PLEX_APPLIANCE_SERVER_RETRY_SECONDS={{ plex_appliance_server_retry_seconds | default(30) | int }}
PLEX_APPLIANCE_ITEM_FAILURE_DELAY_SECONDS={{ plex_appliance_item_failure_delay_seconds | default(10) | int }}
PLEX_APPLIANCE_COLLECTION_REFRESH_SECONDS={{ plex_appliance_collection_refresh_seconds | default(3600) | int }}
PLEX_APPLIANCE_MPV_ARGS={{ plex_appliance_mpv_args | join(' ') | to_json }}
