PLEX_APPLIANCE_SERVER_URL={{ plex_appliance_server_url | to_json }}
PLEX_APPLIANCE_TOKEN={{ plex_appliance_token | to_json }}
PLEX_APPLIANCE_USER={{ plex_appliance_user | to_json }}
PLEX_APPLIANCE_LIBRARY={{ plex_appliance_library | to_json }}
PLEX_APPLIANCE_COLLECTION={{ plex_appliance_collection | to_json }}
PLEX_APPLIANCE_AUDIO_LANGUAGES={{ plex_appliance_audio_languages | default([]) | join(',') | to_json }}
PLEX_APPLIANCE_SUBTITLE_LANGUAGES={{ plex_appliance_subtitle_languages | default([]) | join(',') | to_json }}
PLEX_APPLIANCE_SUBTITLES={{ plex_appliance_subtitles | default('auto') | to_json }}
PLEX_APPLIANCE_PAGE_SIZE={{ plex_appliance_page_size | default(100) | int }}
PLEX_APPLIANCE_SERVER_RETRY_SECONDS={{ plex_appliance_server_retry_seconds | default(30) | int }}
PLEX_APPLIANCE_ITEM_FAILURE_DELAY_SECONDS={{ plex_appliance_item_failure_delay_seconds | default(10) | int }}
PLEX_APPLIANCE_COLLECTION_REFRESH_SECONDS={{ plex_appliance_collection_refresh_seconds | default(3600) | int }}
PLEX_APPLIANCE_MPV_ARGS={{ plex_appliance_mpv_args | join(' ') | to_json }}
PLEX_APPLIANCE_MPV_EXTRA_ARGS={{ plex_appliance_mpv_extra_args | default([]) | join(' ') | to_json }}
PLEX_APPLIANCE_AUDIO_DEVICE={{ plex_appliance_audio_device | default('') | to_json }}
PLEX_APPLIANCE_HDMI_BACKEND={{ plex_appliance_hdmi_backend | default('kscreen') | to_json }}
PLEX_APPLIANCE_HDMI_OUTPUT_PATTERNS={{ plex_appliance_hdmi_output_patterns | default(['HDMI']) | join(',') | to_json }}
PLEX_APPLIANCE_HDMI_IGNORE_PATTERNS={{ plex_appliance_hdmi_ignore_patterns | default(['eDP', 'LVDS', 'DSI']) | join(',') | to_json }}
PLEX_APPLIANCE_HDMI_POLL_SECONDS={{ plex_appliance_hdmi_poll_seconds | default(5) | int }}
PLEX_APPLIANCE_HDMI_CONFIGURE_DISPLAY={{ (plex_appliance_hdmi_configure_display | default(true) | bool) | ternary('true', 'false') | to_json }}
PLEX_APPLIANCE_HDMI_MAKE_PRIMARY={{ (plex_appliance_hdmi_make_primary | default(true) | bool) | ternary('true', 'false') | to_json }}
PLEX_APPLIANCE_HDMI_TV_ONLY={{ (plex_appliance_hdmi_tv_only | default(false) | bool) | ternary('true', 'false') | to_json }}
PLEX_APPLIANCE_HDMI_TTY={{ plex_appliance_hdmi_tty | default('/dev/tty3') | to_json }}
PLEX_APPLIANCE_HDMI_RETURN_TTY={{ plex_appliance_hdmi_return_tty | default('/dev/tty1') | to_json }}
PLEX_APPLIANCE_HDMI_DRM_CONNECTOR={{ plex_appliance_hdmi_drm_connector | default('') | to_json }}
PLEX_APPLIANCE_HDMI_SYSFS_CONNECTOR={{ plex_appliance_hdmi_sysfs_connector | default('') | to_json }}
{% if plex_appliance_hdmi_eld_path is defined %}
PLEX_APPLIANCE_HDMI_ELD_PATH={{ plex_appliance_hdmi_eld_path | default('') | to_json }}
{% endif %}
{% if plex_appliance_hdmi_edid_path is defined %}
PLEX_APPLIANCE_HDMI_EDID_PATH={{ plex_appliance_hdmi_edid_path | default('') | to_json }}
{% endif %}
PLEX_APPLIANCE_HDMI_RESTORE_GETTY={{ (plex_appliance_hdmi_restore_getty | default(true) | bool) | ternary('true', 'false') | to_json }}
PLEX_APPLIANCE_HDMI_RESTART_DISPLAY_MANAGER={{ (plex_appliance_hdmi_restart_display_manager | default(false) | bool) | ternary('true', 'false') | to_json }}
PLEX_APPLIANCE_HDMI_DISPLAY_MANAGER_SERVICE={{ plex_appliance_hdmi_display_manager_service | default('sddm.service') | to_json }}
PLEX_APPLIANCE_HDMI_RESET_PLASMA_USER_SERVICES={{ (plex_appliance_hdmi_reset_plasma_user_services | default(false) | bool) | ternary('true', 'false') | to_json }}
