{
  "version": 2,
  "updateUser": {{ hermes_native_update_user | to_json }},
  "runtimeGroup": {{ hermes_runtime_readers_group | to_json }},
  "runtimeRoot": {{ hermes_shadow_runtime_root | to_json }},
  "venvPython": {{ (hermes_shadow_runtime_venv ~ '/bin/python') | to_json }},
  "hermesEntry": {{ (hermes_shadow_runtime_root ~ '/hermes') | to_json }},
  "hermesBinary": {{ hermes_shadow_runtime_binary | to_json }},
  "uvBinary": {{ hermes_shadow_uv_binary | to_json }},
  "basePythonRoot": {{ hermes_shadow_uv_python_root | to_json }},
  "memoryDependencyUpdater": {{ hermes_mem0_dependency_updater_live | to_json }},
  "managedSourcePatcher": {{ hermes_managed_source_patch_live | to_json }},
  "queuedEventPatch": {{ hermes_queued_event_patch_live | to_json }},
  "queuedEventValidator": {{ hermes_queued_event_validator_live | to_json }},
  "sourcePatchBranch": {{ hermes_managed_source_patch_branch | to_json }},
  "sourcePatchTargetBranch": {{ hermes_managed_source_patch_target_branch | to_json }},
  "sourcePatchStagingRoot": {{ hermes_managed_source_patch_staging_root | to_json }},
  "browserSelector": {{ hermes_agent_browser_selector_live | to_json }},
  "rollbackRoot": {{ hermes_native_update_rollback_root | to_json }},
  "rollbackKeep": {{ hermes_native_update_rollback_keep }},
  "minimumFreeBytes": {{ hermes_native_update_minimum_free_bytes }},
  "systemdWaitSeconds": {{ hermes_native_update_gateway_wait_seconds }},
  "updateAccountHome": {{ hermes_native_update_home | to_json }},
  "updateProfileHome": {{ hermes_native_update_profile_home | to_json }},
  "stableDependencies": {{ hermes_mem0_stable_dependencies | to_json }},
  "spacyModel": {{ hermes_mem0_spacy_model | to_json }},
  "postSetupKeys": {{ hermes_native_post_setup_keys | to_json }},
  "profiles": [
{% for profile in hermes_production_consumer_profiles %}
    {
      "name": {{ profile.name | to_json }},
      "user": {{ profile.user | to_json }},
      "group": {{ profile.group | to_json }},
      "unit": {{ profile.unit | to_json }},
      "accountHome": {{ profile.account_home | to_json }},
      "home": {{ profile.home | to_json }}
    }{% if not loop.last %},{% endif %}
{% endfor %}
  ]
}
