[Service]
SupplementaryGroups=
SupplementaryGroups={{ hermes_runtime_readers_group }} {{ hermes_automation_readers_group }}
ExecStartPre={{ hermes_shadow_runtime_venv }}/bin/python {{ hermes_cron_reconcile_live }} --manifest {{ hermes_automation_manifest_live }} --home /var/lib/hermes/astra --profile astra --check
